name: CI
on: push

permissions:
  contents: read

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun ci
      - run: bun --bun biome ci --reporter=github --error-on-warnings
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun ci
      - run: bun --bun astro check
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun ci
      - run: bunx playwright install --only-shell chromium
      - run: bun --bun vitest --reporter=github-actions
